body {
  background-color: #ccc;
}

a {
  color: green;
  -webkit-font-feature-settings: "smcp", "c2sc";
  -moz-font-feature-settings: "smcp", "c2sc";
  font-feature-settings: "smcp", "c2sc";
  font-variant: all-small-caps;
  transition: color 1s;
}

pre {
  padding: 100px;
  color: green;
  background-color: #f2f2f2;
}