:root {
--background: #ccc;
--lightBackground: #f2f2f2;
--green: green;
}

body {
	background-color: var(--background);
}

a {
  color: var(--green);
  font-variant: all-small-caps;
  transition: color 1s;
}

pre {
  padding: calc(50px * 2);
  color: var(--green);
  background-color: var(--lightBackground);
}