@import "../node_modules/lesshat/lesshat";

@background: #ccc;
@lightBackground: #f2f2f2;
@green: green;


body {
	background-color: @background;
}

a {
  color: @green;
  font-variant: all-small-caps;
  .align-content(flex-start);
}

pre {
  padding: calc(50px * 2);
  color: @green;
  background-color: @lightBackground;
}

.flex {
	.display(flex);
	& > * {
		.flex(1);
	}
}

.outer {
	width: 500px;
	padding: 10px 0;
	overflow: hidden;
	background-color: black;
	.inner {
		position: absolute;
		left: 0;
		top: 10px;
		width: 1000px;
		height: 100px;
		background-color: @green;
	}
}
